Repository aidan46/scanza: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, pnpm-fmt-check, pnpm-lint, taplo

cargo-fmt:
  name: Cargo Format Check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy Lint
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

pnpm-fmt-check:
  name: Frontend Format Check (pnpm)
  entry: bash -c 'cd web && pnpm run fmt-check'
  language: system
  pass_filenames: false

pnpm-lint:
  name: Frontend Lint (pnpm)
  entry: bash -c 'cd web && pnpm run lint'
  language: system
  pass_filenames: false

taplo:
  name: Taplo TOML Format Check
  entry: taplo fmt --check
  language: system

fix: remove unused tokens folder
  tokens/eth.json
Due: none

chore: remove Justfile
  Justfile
  README.md
  flake.nix
Due: none

chore: remove mainnet from chain names
  config/chains.json
Due: none

fix: typo in copy transaction hash
  web/src/components/transactions/TransactionHashCell.tsx
Due: none

fix: correct pagination logic to handle exact page boundaries
  multichain-client/src/client.rs
Due: cargo-fmt, cargo-clippy

feat: store per-chain transactions in MongoDB with deduplication
  Cargo.lock
  Cargo.toml
  server/Cargo.toml
  server/src/init.rs
  server/src/main.rs
  server/src/routes/transactions.rs
Due: cargo-fmt, cargo-clippy, taplo

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  pnpm-fmt-check: any of: \.(ts|mts|cts)$ and \.tsx$
  pnpm-lint: any of: \.(ts|mts|cts)$ and \.tsx$
  taplo: any of: \.toml$
